@using System.Data;
@{
    ViewData["Title"] = "State List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataTable dt = ViewData["Table"] as DataTable;
}

@model MyProject.Areas.State.Models.LOC_StateModel


<div class="card">
    <div class="card-header">
        <h3>
            State List
        </h3>
    </div>
    <div class="card-body">
        <form asp-area="State" asp-controller="LOC_State" asp-action="Index" method="post">
            <h6>
                Apply Filter
            </h6>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="text-muted fw-bold" for="CountryID">Select Country</label>
                        <div>
                            <select asp-for="CountryID" asp-items=@(new SelectList(ViewBag.CountryList,"CountryID","CountryName")) class="form-control custom-select">
                                <option value="0" selected>Select Country</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="text-muted fw-bold" for="StateName">State Name</label>
                        <input asp-for="StateName" placeholder="Enter State Name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="text-muted fw-bold" for="StateCode">State Code</label>
                        <input asp-for="StateCode" placeholder="Enter State Code" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group pt-2">
                        <button name="submit" type="submit" class="btn btn-primary">Search</button>
                        @*<button name="clear" type="reset" class="btn btn-danger">Clear</button>*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a class="btn btn-success btn-md mb-1" asp-area="State" asp-controller="LOC_State" asp-action="Add">
                Add New State
            </a>
        </h5>
        <table class="table table-bordered table-responsive">
            <thead class="table-dark">
                <tr>
                    <th>Country Name</th>
                    <th>State Name</th>
                    <th>State Code</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (dt.Rows.Count > 0)
                {
                    foreach (DataRow data in dt.Rows)
                    {
                        <tr>
                            <td>@data["CountryName"]</td>
                            <td>@data["StateName"]</td>
                            <td>@data["StateCode"]</td>
                            <td>
                                <form method="post" asp-area="State" asp-controller="LOC_State" asp-action="delete">
                                    <input type="hidden" name="StateID" value="@data["StateID"]">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirmDelete();">
                                        Delete
                                    </button>
                                    <a class="btn btn-primary btn-sm" asp-area="State" asp-controller="LOC_State" asp-action="add" asp-route-StateID="@data["StateID"]">
                                        Edit
                                    </a>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <th colspan="4" class="text-center">
                            No Record Found.
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End small tables -->

    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}

